body {
    font-family: 'Poppins', sans-serif;
}

.full-width {

    background-image: url(images/donation5.jpg);
    text-align: center;
    background-repeat: no-repeat;
    margin: 0%;



}

* {
    margin: auto;
}

.head-white {

    color: rgb(250, 250, 250);
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.head-black {

    color: black;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;

}

.body-white {
    color: rgb(249, 246, 246);
    font-size: 30px;
    padding-top: 80px;
}

.body-black {
    color: black;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

.mid-div {
    width: 60%;
    padding-bottom: 150px;
}

.text-pad {
    margin: 15px;
}

.center {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.center1 {
    margin: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.sq-button {
    padding: 30px;
    padding-right: 50px;
    size: 25px;
    margin-left: 10px;
    font-size: 30px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(brown, red);
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    color: wheat;
    font-weight: 700;



}

.Afrin {
    text-align: center;
}

.asad-full stack {
    text-align: center;
}

.half-width {
    width: 50%;
    font-size: 20px;
    margin-left: 5%;
}

.half-width img {
    width: 70%;
}

.flexible-container {
    width: 90%;
    display: flex;
    margin: auto;
    text-align: center;
}

.palak {
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;

}

.shimul {
    width: 50%;
    font-size: 25px;
    margin-left: 5%;

}

.tag img {
    width: 70%;
    margin-left: 5%;
}

#akas {
    color: red;
    font-style: italic;
}

#tonmoy {
    color: wheat;
}

.rezaul {
    background-color: black;
    margin-top: 10px;
}

#imran {
    color: red;
    font-size: 60px;
}

#akas {
    color: white;
}