body {
    font-family: 'Poppins', sans-serif;
}

.full-width {

    background-image: url(images/donation5.jpg);
    text-align: center;
    background-repeat: no-repeat;
    margin: 0%;



}

.head-white {

    color: rgb(250, 250, 250);
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.head-black {

    color: black;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.body-white {
    color: rgb(249, 246, 246);
    font-size: 30px;
    padding-top: 80px;
}

.body-black {
    color: black;
    font-size: 30px;
    padding-top: 80px;
    text-align: center;
}

.mid-div {
    width: 60%;
    padding-left: 300px;
    padding-bottom: 150px;
}

.text-pad {
    margin: 30px;
}

.sq-button {
    padding: 30px;
    padding-right: 50px;
    border-color: yellow;
    size: 25px;
    margin-left: 10px;
    font-size: 30px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: wheat;
    font-weight: 700;
    text-align: center;
}

.Afrin {
    text-align: center;
}

.asad-full stack {
    text-align: center;
}

.half-width {
    width: 50%;
    font-size: 20px;
    margin-left: 5%;
}

.half-width img {
    width: 70%;
}

.ridoy {
    display: flex;
}

.iubat {
    display: flex;
}

.palak {
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;

}

.fardin {
    display: flex;

}

.shimul {
    width: 50%;
    font-size: 25px;
    margin-left: 5%;

}

.tag img {
    width: 70%;
    margin-left: 5%;
}